.table_data {
    background-color: rgba(173, 230, 48, 0.8);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.sort {
    font-size: 25px;
    cursor: pointer;
}

.col {
    width: 33.33%;
    height: 100%;
    margin-top: 20px;
    float: left;
    text-align: center;
}