.main_center {
    text-align: center;
    clear: both;
}

#callback_form {
    width: 65%;
    text-align: left;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

#callback_fields {
    padding-left: 10px;
}

.form_label {
    font-weight: bold;
    font-size: medium;
}

#callback_submit {
    cursor: pointer;
    padding: 8px;
    font-size: 1px;
}

.callback_input {
    padding: 5px;
}