.div_1 {
    text-align: center;
}

.main_table {
    width: 80%;
    display: table;
    margin: 0 auto;
}

.col_1 {
    text-align: left;
}

#aside_rank > p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: cadetblue;
}

#table_daily_data {
    color: white;
    padding: 15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    display: table;
    margin: 0 auto;
}

#qr_code {
    display: inline-block;
}