.div_1 {
    text-align: center;
    clear: both;
}

.table_data {
    background-color: rgba(173, 230, 48, 0.8);
    border-radius: 8px;
    padding: 5px;
    float: left;
    margin: 20px ;
}

.table_data > caption {
    font-size: 20px;
    font-weight: bold;
    color: chocolate;
}

.table_data th {
    font-size: 18px;
}

.sort {
    cursor: pointer;
}
